MYSQL_HOST=mysql_shared
MYSQL_PORT=3306
MYSQL_USER=g5_user
MYSQL_PASSWORD=defina-a-senha-do-usuario-de-migrations
MYSQL_DATABASE=g5
MYSQL_SSL=true
MYSQL_SSL_REJECT_UNAUTHORIZED=false
MYSQL_SSL_CA_PATH=/run/secrets/mysql-ca.pem
